.Header__title {
  align-items: center;
  color: $white;
  display: flex;
  font-size: 1.875em;
  height: 1.5em;
  justify-content: center;
  margin: 0;

  @media(min-width: $medium-screen) {
    font-size: 3.75em;
  }
}

.Header__emoji {
  display: inline-block;
  position: relative;
  transform: translateY(4px);
}

.Header__emoji:first-child {
  margin-right: 10px;
}

.Header__emoji:last-child {
  margin-left: 10px;
}
