.Header__title {
  align-items: center;
  color: $black;
  display: flex;
  font-weight: bold;
  height: 2em;
  justify-content: center;
  margin: 0;
}

.Header__emoji {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  transform: translateY(4px);
}
