.Header__title {
  align-items: center;
  color: $white;
  display: flex;
  height: 1.5em;
  justify-content: center;
  margin: 0;
}

.Header__emoji {
  display: inline-block;
  position: relative;
  transform: translateY(4px);
}

.Header__emoji:first-child {
  margin-right: 10px;
}

.Header__emoji:last-child {
  margin-left: 10px;
}
