.Container {
  background: $black;
  color: $white;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.Container__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25em;
}
