.Search {
  margin: 1em 0;
  width: 100%;
}

.Search__input {
  border: solid 1px $gray-light;
  color: $black;
  font-size: 2em;
  outline: none;
  padding: .5em;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray-light;
  }

  &:-ms-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }
}
