// Neat Breakpoints
$small-screen: 36.25em;
$medium-screen: 48em;
$large-screen: 64.375em;

// Layout settings
$max-width: 75em !global;
$max-width-padd: 77.5em !global;

// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Lato', sans-serif;

// Colors;
$black: #121212;
$white: #fff;
$gray-light: #ddd;
$gray: #aaa;
$gray-dark: #777;

// Font Colors
$base-background-color: $white;
$base-font-color: $black;
