.Emoji-grid {
  overflow: auto;
  width: 100%;
}

.Emoji-grid__form {
  margin: 1em 0;
  width: 100%;
}

.Emoji-grid__search {
  border: solid 1px $gray-light;
  color: $black;
  font-size: 2em;
  outline: none;
  padding: .5em;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray-light;
  }

  &:-ms-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }
}

.Emoji-grid__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Emoji-grid__item {
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  padding: .5em;
  text-align: center;
  width: 4%;
}

.Emoji-grid__item--hide {
  display: none;
}
